.tableauPlaceholder{

  text-align: center;
  display: block;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
 height: auto;
}

body{
  color: white;
  background-color: black;
}

#Banner{
  display: block;
 margin-left: auto;
 margin-right: auto;
 height: 391px;
 width: 1040px;
  /* width:100%; */
  height: auto;

}

h1{

  text-align: center;
}

.container{

  display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;

      justify-content: center;
      grid-row-gap: 25px;
      column-gap: 25px;
      justify-content: space-between;
      overflow: hidden;

    }

/* .container2{

      display: grid;
          grid-template-columns: 1fr 1fr;
          width: 100%;
          justify-content: center;
          grid-row-gap: 25px;
          justify-content: space-between;
        } */
  img{
    width: 450px;
    height: ]150px;
    margin-left: auto;
    margin-right: auto;
  }

.foot{
  text-align: center;
  font-size: 32;
}

button{
  /* display: block; */
  width: 200px;
  height: 50px;
    justify-content: center;
    /* padding-left: 50px; */
    margin-left: 600px;
    margin-right: 600px;
    /* text-align: center; */
  }

  #myVideo{
    display: block;
   margin-left: auto;
   margin-right: auto;
   height: 581px;
   width: 1040px;

  }
